
.login-container {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 400;
    font-size: 25px;
}

#login {
    display: block;
}

#create-account {
    display: none;
}

.Heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"] {
    display: block;  
    margin-bottom: 10px;  
}

main .about-section {
    width: 80%; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
}

main h2 {
    border-bottom: 2px solid #aaa; 
    padding-bottom: 10px;
    margin-bottom: 30px;
}

a {
    color: blue;
}

