.events {
    margin-bottom: 40px;
}

.subEvent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.person {
    width: 30%;
    height: 100px;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
